*{
    font-size: 1rem;
    margin: 0;
    padding: 0;
   
}
@import url('https://fonts.cdnfonts.com/css/my-childish-font');
body{
    width: 100vw;
    height: 100vh;
    background-image: url("/images/background.jpg");
    background-size: cover;
}
header{
    position: absolute;
    width: 100%;
    height:20%;
    display: flex;
    color: purple;
    -webkit-text-stroke: 2px salmon;
    background-image:linear-gradient(45deg, rgb(88, 88, 212), purple);
}
#logo{
    width: 20%;
    height: 70%;
    align-self: center;
}
h1{
    width: 80%;
    position: absolute;
    right:10%;
    text-align: center;
    align-self: center;
    font-family: 'My Childish Font', sans-serif;
    font-size: 80px;
}
#signForm{
    background-color:rgba(179, 83, 155,0.3);
    color: rgba(255, 255,255 , 0.7);
    width: 300px;
    height: 400px;
    position: absolute;
    top:calc(50% - 150px);
    right:calc(50% - 150px);
    border: 1px solid black;
    border-radius: 3%;
    display: none;
   
}
#loginForm{
    color: rgba(255, 255,255 , 0.7);
    font-weight: bold;
    background-color: rgba(179, 83, 155,0.3);
    width: 300px;
    height: 400px;
    position: absolute;
    top:calc(50% - 150px);
    right:calc(50% - 150px);
    border: 1px solid black;
    border-radius: 3%;
}

form > h3{
    text-align: center;
    margin-right: 50px;
    margin-top: 5px;
}
#loginForm * , #signForm *{
    margin-bottom: 20px;
    margin-left: 50px;
}
.bar{
    font-size: 12px;
    width: 200px;
    height: 30px;
}
#loginForm > #remember{
    margin:0;
}

.socials{
    width: 30%; 
    position: absolute;
    right: calc(50% - 15%);
    top: 65%;
}
#signing{
    position: absolute;
    bottom: 0px;
    right: 0px;
    text-decoration-line: none;
    color: rgba(255, 255,255,0.7);
}
#register{
   position: absolute;
   top: 360px;
   right:calc(50% - 100px);
   display: none;
}
#login{
    position: absolute;
  
    
}
#failLog{
    position: absolute;
    right: calc(50% - 100px);
    top: 367px;
    display: none;
}

.blue:focus{
    background-color: rgb(126, 166, 212);
}